.places h1 {
  font-size: 30px;
  margin-top: 0px;
  text-align: left;
}

.places {
  margin-top: 20px;
}

article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #FF5A5F 1px solid;
  border-radius: 4px;
  display: inline-block;
}

article h2 {
  font-size: 30px;
  text-align: center;
}